/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff;
  --primary-color: #583ebc;
  --dark-bg-color: #22212a;
  --dark-secondary-bg-color: #191720;
  --dark-primary-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  background-color: #f7fafc;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-bg-color);
    color: var(--dark-primary-color);
  }
  .secondary-bg {
    background-color: var(--dark-secondary-bg-color);
  }
}

button {
  background-color: var(--primary-color);
  color: var(--dark-primary-color);
}

.header {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.dark-section {
  background-color: var(--dark-secondary-bg-color);
  color: var(--dark-primary-color);
}
