/* app/components/Navbar.module.css */

.navbar {
  background-color: #583ebc;
  padding: 0.8rem;
  border-radius: 9999px;
  margin: 0 1rem;
  max-width: 90%;
  margin: 2rem 1rem; 
  margin-left: 5%;
  
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}

.logo {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 48px;
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
}

.desktopLinks {
  display: none;
}

.rightLinks {
  justify-content: flex-end;
  flex: 1;
}

.linkList,
.mobileLinkList {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link,
.icon {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
  transition: color 0.3s;
  display: flex;
  align-items: center;
}

.link {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: #d1d5db;
}

.icon {
  color: white;
  margin-left: 1rem;
  cursor: pointer;
  transition: color 0.3s;
}

.icon:hover {
  color: #d1d5db;
}

.homeLink {
  background-color: white;
  color: black;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.mobileMenuButton {
  display: flex;
  align-items: center;
}

.mobileLinks {
  display: none;
}

@media (min-width: 768px) {
  .desktopLinks {
    display: flex;
  }

  .mobileMenuButton {
    display: none;
  }
}

.mobileLinks {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

@media (prefers-color-scheme: dark) {
  .navbar {
    background-color: var(--dark-bg-color);
  }
  .link, .icon {
    color: var(--dark-primary-color);
  }
}
